<!-- Partners - 타투이스트 기수 -->

    <!-- ======= Main ======= -->
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">

            <div class="d-flex justify-content-between align-items-center">
              <h2>업체 상세정보</h2>
              <ol>
                <li><a href="index.html">Home</a></li>
                <li>업체 상세정보</li>
              </ol>
            </div>

          </div>
        </section><!-- End Breadcrumbs -->
        
        
        <section id="product-details" class="product-details">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/tattoo/assets/img/portfolio/img1-1.png" class="img-fluid rounded-circle" alt="">
                    </div>
                    
                    <div class="col-md-6">
                        <div class="product-headline text-left" id="test">
                            <h4>타투이스트 기수</h4>
                        </div>
                        <div class="profile text-left">
                            <ul style="list-style: none; padding: 0; line-height: 40px;">
                                <li><i class="icofont-minus"></i> 위치 : 경기 광명시</a></li>
                                <li><i class="icofont-minus"></i> 업체명 : 타투이스트 기수</a></li>
                                <li><i class="icofont-minus"></i> 연락처 : 010-2692-7577</a></li>
                                <li><i class="icofont-minus"></i> 카카오톡 : ha9210</a></li>
                                <li><i class="icofont-minus"></i> Instagram :  tattooist.gisoo</a></li>
                                <li><i class="icofont-chat"></i> 타투이상을 보고 연락드렸다고 하면 상담이 수월해집니다.</a></li>
                            </ul>
                        </div>

                        <div class="row" style="margin-left= 0;">
                            <div style="padding-right: 20px;">
                                <i class="icofont-check-circled"> 블랙 & 그레이</i>
                            </div>
                            <div style="padding-right: 20px;">
                                <i class="icofont-check-circled"> 블랙워크</i>
                            </div>
                            <div>
                                <i class="icofont-check-circled"> 리얼리즘</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        </section>

        <section id="portfolio" class="portfolio" style="padding-top: 0;">
          <div class="container">
            <div class="section-title row">
                <div style="text-align:left;">
                    <h5>샵 내/외부</h5>
                </div>
            </div>

            <div class="row container">
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/portfolio/img1-2.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/portfolio/img1-2.png" data-gall="portfolioGallery" class="venobox" title="이미지"><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/portfolio/img1-3.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/portfolio/img1-3.png" data-gall="portfolioGallery" class="venobox" title="이미지"><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/portfolio/img1-4.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/portfolio/img1-3.png" data-gall="portfolioGallery" class="venobox" title="이미지"><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
            </div>

          </div>
        </section>

        <section id="portfolio" class="portfolio" style="padding-top: 0;">
          <div class="container">
            <div class="section-title row">
                <div style="text-align:left;">
                    <h5>상세정보</h5>
                </div>
            </div>

            <div>
                <p>
                    광명에서 작업하고 있는 타투이스트 기수입니다.<br/>
                    주 장르는 블랙엔그레이입니다.
                </p>
                <p>
                    일회용품 재사용 안합니다.<br/>
                    아직 성인이 아니신 분들은 작업 안합니다.
                </p>
            </div>

          </div>
        </section>

        <section id="portfolio" class="portfolio" style="padding-top: 0;">
          <div class="container">
            <div class="section-title row">
                <div style="text-align:left;">
                    <h5>갤러리</h5>
                </div>
            </div>

            <div class="row container">
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-1.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-1.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-2.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-2.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-3.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-3.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-4.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-4.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-5.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-5.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-6.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-6.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-7.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-7.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-8.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-8.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-9.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-9.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-10.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-10.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-11.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-11.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-12.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-12.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-13.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-13.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-14.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-14.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-15.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-15.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-16.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-16.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-17.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-17.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-18.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-18.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-19.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-19.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-20.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-20.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-21.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-22.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-23.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-23.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-24.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-24.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-25.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-25.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-26.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-26.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-27.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-27.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-28.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-28.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-29.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-29.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-30.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-30.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-31.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-31.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-32.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-32.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-33.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-33.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-34.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-34.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-35.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-35.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-36.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-36.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-37.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-37.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal1-38.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal1-38.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
            </div>
              

          </div>
        </section>



    </main>
    <!-- End #main -->
