<!-- Partners -->

    <!-- ======= Main ======= -->
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">

            <div class="d-flex justify-content-between align-items-center">
              <h2>업체 상세정보</h2>
              <ol>
                <li><a href="index.html">Home</a></li>
                <li>업체 상세정보</li>
              </ol>
            </div>

          </div>
        </section><!-- End Breadcrumbs -->
        
        
        <section id="product-details" class="product-details">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/tattoo/assets/img/gallery/gal5/gal5-26.png" class="img-fluid rounded-circle" alt="">
                    </div>
                    
                    <div class="col-md-6">
                        <div class="product-headline text-left" id="test">
                            <h4>GUSH TATTOO</h4>
                        </div>
                        <div class="profile text-left">
                            <ul style="list-style: none; padding: 0; line-height: 40px;">
                                <li><i class="icofont-minus"></i> 위치 : 경기 안산</li>
                                <li><i class="icofont-minus"></i> 업체명 : GUSH TATTOO</a></li>
                                <li><i class="icofont-minus"></i> 연락처 : 010-9504-1539</a></li>
                                <li><i class="icofont-minus"></i> 카카오톡 : gushd</a></li>
                                <li><i class="icofont-minus"></i> Instagram : gush_tattoos</a></li>
                                <li><i class="icofont-chat"></i> 타투이상을 보고 연락드렸다고 하면 상담이 수월해집니다.</a></li>
                            </ul>
                        </div>

                        <div class="row" style="margin-left= 0;">
                            <div style="padding-right: 20px;">
                                <i class="icofont-check-circled"> 라인워크</i>
                            </div>
                            <div style="padding-right: 20px;">
                                <i class="icofont-check-circled"> 블랙워크</i>
                            </div>
                            <div>
                                <i class="icofont-check-circled"> 미니타투</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        </section>

        <section id="portfolio" class="portfolio" style="padding-top: 0;">
          <div class="container">
            <div class="section-title row">
                <div style="text-align:left;">
                    <h5>샵 내/외부</h5>
                </div>
            </div>

            <div class="row container">
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-1.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-1.png" data-gall="portfolioGallery" class="venobox" title="이미지"><i class="ri-add-fill"></i></a>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-2.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-2.png" data-gall="portfolioGallery" class="venobox" title="이미지"><i class="ri-add-fill"></i></a>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-3.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-3.png" data-gall="portfolioGallery" class="venobox" title="이미지"><i class="ri-add-fill"></i></a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

          </div>
        </section>

        <section id="portfolio" class="portfolio" style="padding-top: 0;">
          <div class="container">
            <div class="section-title row">
                <div style="text-align:left;">
                    <h5>상세정보</h5>
                </div>
            </div>

            <div>
                <p>
                    안녕하세요, 경기도 안산 중앙역쪽에서 작업하는<br/>
                    GUSH 입니다. 저는 주로 블랙워크 기반으로 하는<br/>
                    작업을 하고 있습니다. 원하시는주제로<br/>
                    도안 제작해드릴 수도 있고, 미니타투나 레터링 종류의<br/>
                    작업도 환영합니다. 많은 문의 주세요 감사합니다.<br/>
                </p>
            </div>

          </div>
        </section>

        <section id="portfolio" class="portfolio" style="padding-top: 0;">
          <div class="container">
            <div class="section-title row">
                <div style="text-align:left;">
                    <h5>갤러리</h5>
                </div>
            </div>

            <div class="row container">
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-4.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-4.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-5.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-5.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-6.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-6.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-7.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-7.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-8.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-8.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-9.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-9.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-10.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-10.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-11.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-11.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-12.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-12.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-13.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-13.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-14.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-14.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-15.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-15.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-16.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-16.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-17.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-17.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-18.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-18.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-19.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-19.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-20.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-20.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-21.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-21.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    <div class="portfolio-wrap">
                      <img src="/tattoo/assets/img/gallery/gal5/gal5-22.png" class="img-thumbnail rounded" alt="">
                      <div class="portfolio-info">
                        <div class="portfolio-links">
                          <a href="/tattoo/assets/img/gallery/gal5/gal5-22.png" data-gall="portfolioGallery" class="venobox" title=""><i class="ri-add-fill"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                
            </div>
              

          </div>
        </section>


    </main>
    <!-- End #main -->
